{# JUNOS IP Addresses Configiguration Template #}

set routing-options router-id {{ host.ospf.rid }}
{% for int in host['interfaces'] %}
{% set int_name = int['name'] %}
{% set ospf_area_id = int['ospf_area'] %}
set protocols ospf area {{ ospf_area_id }} interface {{ int_name }}.0
{% endfor %}
commit