{# Arista Configuration Template #}

{# SNMP Template Configuration #}
snmp-server community {{ host['snmp']['snmp_community'] }} ro
snmp-server location {{ host['snmp']['snmp_location'] }}
snmp-server contact {{ host['snmp']['snmp_contact'] }}
snmp-server enable traps
snmp-server host {{ host['snmp']['snmp_server'] }} version 2c {{ host['snmp']['snmp_community'] }} 

{# NTP Template Configuration #}
{% for ns in host['nameservers'] %}
ip name-server {{ ns }} 
{% endfor %}
clock timezone {{ host['ntp']['timezone_cc'] }}
ntp server {{ host['ntp']['ntp_server'] }}
