{# BGP Configiguration Template for NXOS Devices#}
{# We will run BGP on Spine/Leaf devices, Spine routers running as Route reflectors#}
router bgp {{ host.dev_vars.bgp.localAsn }}
router-id {{ host.dev_vars.bgp.routerId }}
{% if host.dev_vars.bgp.route_reflector %}
{#
neighbor {{ host.dev_vars.bgp.peer_group_name }} peer-group
neighbor {{ host.dev_vars.bgp.peer_group_name }} remote-as {{ host.dev_vars.bgp.localAsn }}
neighbor {{ host.dev_vars.bgp.peer_group_name }} update-source {{ host.dev_vars.bgp.update_source }}
neighbor {{ host.dev_vars.bgp.peer_group_name }} route-reflector-client

neighbor {{ nbr.address }} peer-group {{ host.dev_vars.bgp.peer_group_name }}
#}
{% for nbr in host.dev_vars.bgp.neighbors %}
neighbor {{ nbr.address }}
remote-as {{ host.dev_vars.bgp.localAsn }}
update-source {{ host.dev_vars.bgp.update_source }}
address-family ipv4 unicast
route-reflector-client
{#We enable the L2VPN EVPN address family, which lets MP-BGP carry MAC addresses.#}
address-family l2vpn evpn
route-reflector-client
{#Extended communities are enabled. This is to support carrying route-target information.#}
send-community both
exit
{% endfor %}
{% endif %}

{% if host.dev_vars.bgp.route_reflector == False %}
{% for nbr in host.dev_vars.bgp.neighbors %}
{% if nbr.type == "iBGP" %}
neighbor {{ nbr.address }}
remote-as {{ host.dev_vars.bgp.localAsn }}
update-source {{ host.dev_vars.bgp.update_source }}
address-family ipv4 unicast
route-reflector-client
address-family l2vpn evpn
send-community both
exit
{% elif nbr.type == "eBGP" %}
neighbor {{ nbr.address }} remote-as {{ host.dev_vars.bgp.remoteAsn }}
{% endif %}
{% endfor %}
{% endif %}
